:root {
  --primaryColor: #ffa62b;
  --secondaryColor: #db6400;
  --tertiaryColor: #fef9a7;
  --quertiaryColor: #d61c4e;
  --backgroundColor: #f8f1f1;
  --fontColor: #343a40;
}
body {
  background: var(--tertiaryColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

ol,
ul {
  padding-left: 0;
}

nav {
  height: 100vh;
  background-color: var(--primaryColor);
  width: 18rem;
  padding: 1.8rem 0.85rem;
  color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.sidebar-top .profil {
  position: relative;
  width: 3.5em;
  height: 3.5em;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 1.45rem;
  left: -3px;
}

.sidebar-top h2 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
}

.sidebar-links li {
  position: relative;
}

.sidebar-links li a {
  padding: 12px;
  color: var(--backgroundColor);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 56px;
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 26px;
  height: 26px;
  margin: auto;
}

.sidebar-links .link {
  margin-left: 40px;
}

.sidebar-links .active {
  width: 100%;
  text-decoration: none;
  background-color: #fefaa788;
  transition: all 100ms ease-in;
  border-radius: 10px;
}

body.collapsed nav {
  width: 80px;
}

body.collapsed .hide {
  display: none;
  pointer-events: none;
  transition-delay: 0s;
}

.page .hide {
  display: none;
}
