:root {
  --primaryColor: #ffa62b;
  --secondaryColor: #db6400;
  --tertiaryColor: #fef9a7;
  --quertiaryColor: #d61c4e;
  --backgroundColor: #f8f1f1;
  --fontColor: #343a40;
}

a {
  text-decoration: none;
}

* {
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  scroll-behavior: smooth;
}

a.navbar-brand:hover {
  color: var(--backgroundColor);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--quertiaryColor);
  color: var(--backgroundColor);
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 100px;
}

#myBtn:hover {
  background-color: var(--secondaryColor);
}

/* search */

button.btn-search {
  border: 1px solid var(--quertiaryColor);
  color: var(--quertiaryColor);
}

button.btn-search:hover {
  background-color: var(--quertiaryColor);
  color: var(--backgroundColor);
}
